# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# === PYTHON / DJANGO ===
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
.env
env/
venv/
build/
develop-eggs/
dist/
downloads/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.mo

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/
staticfiles/
static_root/

# === NODE / REACT ===
donana_front/node_modules/
donana_front/build/
donana_front/.env
donana_front/.DS_Store

# === GENERAL ===
*.swp
*.swo
*.bak
*.tmp
*.orig
.DS_Store
Thumbs.db

# === VSCODE ===
.vscode/

# === GIT ===
*.orig
